<table *ngIf="listaArtikla?.length; else praznaLista" class="styled-table">
    <thead>
        <tr>
            <th>Šifra artikla</th>
            <th>Naziv artikla</th>
            <th>Količina</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let artikal of listaArtikla">
            <td>{{artikal.sifra}}</td>
            <td>{{artikal.naziv}}</td>
            <td class="align-right">{{artikal.kolicina}}</td>
        </tr>
    </tbody>
</table>

<ng-template #praznaLista>
    Lista je prazna, ubaci prvo podatke!
</ng-template>